language: ruby
rvm:
  - 2.5.3

# make sure production-only gems are not installed
bundler_args: --without production

env:
  global:
    # in TravisCI settings, set CCKEY to your CodeClimate Test Reporter ID:
    # From the Docs, https://docs.codeclimate.com/docs/finding-your-test-coverage-token
    # Not considered a sensitive value
    - CC_TEST_REPORTER_ID=6d3a88381b07627efeb49350b75a1fcb1798b4f98ad45378b498ca53a41027b1
    - CCTR=./cc-test-reporter
    # set to whatever timezone your app assumes from this list:
    # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
    - TZ=America/Los_Angeles

# steps to run BEFORE the test run
before_script:
  # create config/application.yml (sensitive API keys etc) from config/application.yml.asc
  # IMPORTANT: you must MANUALLY set correct value of encryption KEY in Travis settings for your project --
  # DO NOT expose that value here!
  # If need secret application environment variables, uncomment.
  # - gpg --passphrase $KEY -d -o config/application.yml config/application.yml.asc
  # install CodeClimate test reporter and tell it we are starting a test run
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > $CCTR
  - chmod +x $CCTR
  - $CCTR before-build

script:
  # setup the test database, including any seed data
  - bundle exec rake db:setup
  # insert here any other steps needed (load other sample data, etc) before starting tests 
  # run RSpec tests, and capture coverage
  - bundle exec rspec
  - $CCTR format-coverage --output coverage/codeclimate.$SUITE.json
  # run Cucumber scenarios, and capture coverage. --strict means undefined steps result in a failure.
  - bundle exec cucumber --strict
  - $CCTR format-coverage --output coverage/codeclimate.$SUITE.json

after_script:
  # combine coverage from all suites, and upload to CodeClimate
  - $CCTR sum-coverage coverage/codeclimate.*.json | $CCTR upload-coverage
  - $CCTR after-build --exit-code $TRAVIS_TEST_RESULT
  # just in case, be paranoid and remove sensitive config info file
  - rm -f config/application.yml