<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
     
  <a class="navbar-brand" href="/">communities<b>@Cal</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= signout_path %>" >Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
  </div>
</nav>

<div id='home-hero' class="jumbotron text-center" style="background-color: #FF000">
  <h3 class='home-title'>FIND YOUR COMMUNITY AT CAL.<br/>GET MATCHED WITH ORGANIZATIONS NOW.</h3>
  <%= render 'quizzes/form' %>
</div>
<div id='matched-orgs'>
  <%= render "placeholder/orgs" %>
</div>