/** Quiz Stylesheet **/
#quiz-page {
  background: rgb(0,178,169);
  background: linear-gradient(180deg, rgba(0,178,169,1) 0%, rgba(0,136,131,1) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#question-container {
  margin: 1em auto;
  max-width: 600px;
  padding: 1em 1.5em;
}

#response-form {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}